@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f3f2fb;
  color: #2b2b3a;
}

/* 숫자 입력 스피너 정리 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
